body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fffdf8;
}

nav {
  background-color: #ffe5b4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #ff6600;
}
